---
import pluginConfig from 'virtual:starlight-multi-header/config';
import config from 'virtual:starlight/user-config';
import { logos } from 'virtual:starlight/user-images';
import { getCurrentPathComponents } from '../../shared/path.ts';
import { ProjectSwitcher } from './ProjectSwitcher.tsx';
import { getCurrentHeader } from '../config.ts';

const { projectPath } = getCurrentPathComponents(Astro.url.pathname);
const currentHeader = getCurrentHeader(pluginConfig, projectPath);

const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
---

<div class="nav-title sl-flex">
    <a href={siteTitleHref} class="site-title sl-flex">
        {
            config.logo && logos.dark && (
                <>
                    <img
                        class:list={{ 'light:sl-hidden print:hidden': !('src' in config.logo) }}
                        alt={config.logo.alt}
                        src={logos.dark.src}
                        width={logos.dark.width}
                        height={logos.dark.height}
                    />
                    {/* Show light alternate if a user configure both light and dark logos. */}
                    {!('src' in config.logo) && (
                        <img
                            class="dark:sl-hidden print:block"
                            alt={config.logo.alt}
                            src={logos.light?.src}
                            width={logos.light?.width}
                            height={logos.light?.height}
                        />
                    )}
                </>
            )
        }
        <span class:list={{ 'sr-only': config.logo?.replacesTitle }} translate="no">
            {siteTitle}
        </span>
    </a>

    <div class="sl-hidden md:sl-block">
        <ProjectSwitcher
            client:idle
            headers={pluginConfig.headers}
            currentHref={currentHeader?.href}
        />
    </div>
</div>

<style>
    @layer starlight.core {
        .nav-title {
            align-items: center;
            gap: var(--sl-nav-gap);
        }
        .site-title {
            align-items: center;
            gap: var(--sl-nav-gap);
            font-size: var(--sl-text-h4);
            font-weight: 600;
            color: var(--sl-color-text-primary);
            text-decoration: none;
            white-space: nowrap;
            min-width: 0;
        }
        span {
            overflow: hidden;
        }
        img {
            height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
            width: auto;
            max-width: 100%;
            object-fit: contain;
            object-position: 0 50%;
        }
    }
</style>
